# Modified from: https://github.com/helm/chart-testing-action
name: ci
on:
  pull_request:
  push:
    paths:
      - 'charts/**/Chart.yaml'
      - 'charts/**/**/*'
      - 'charts/**/*'
jobs:
  helm-lint:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.list-changed.outputs.changed }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Print versions
        run: |
          for cmd in helm ct;do echo $cmd; $cmd version; done

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          ct list-changed --config ct.yaml --print-config
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --all --config ct.yaml

  kubeval:
    runs-on: ubuntu-latest
    needs: helm-lint
    if: ${{needs.helm-lint.outputs.changed == 'true'}}
    steps:
      - uses: actions/checkout@v2
      - name: Run kubeval
        run: |
          ./scripts/kubeval.sh

  helm-local:
    runs-on: ubuntu-latest
    if: ${{needs.helm-lint.outputs.changed == 'true'}}
    needs:
      - helm-lint
      - kubeval
    strategy:
      # https://hub.docker.com/r/kindest/node/tags
      matrix:
        k8s:
          - v1.21.1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Start ${{ matrix.k8s }} KinD cluster
        uses: helm/kind-action@v1.2.0
        with:
          config: .github/assets/kind.yml
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Install local chart
        env:
          debug: true
        run: |
          ./scripts/helm-local.sh
