# Modified from: https://github.com/helm/chart-testing-action
name: ci
on:
  pull_request:
  push:
    paths:
      - 'charts/**/Chart.yaml'
      - 'charts/**/*'

env:
  GITHUB_REPO: "drdkadtr/devops-helm"
  BRANCH: "main"

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      # https://hub.docker.com/r/kindest/node/tags
      matrix:
        k8s:
          - v1.21.1

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.7.2

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          ct list-changed --config ct.yaml --print-config
          # changed=$(ct list-changed --config ct.yaml)
          changed="true"
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --all --config ct.yaml

      - name: Package helm charts
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ./scripts/package.sh

      - name: Start ${{ matrix.k8s }} KinD cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.2.0
        with:
          config: .github/assets/kind.yml
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Test helm (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ./scripts/helm-test.sh
        env:
          CHART_NAME: "helm-test"

      - name: Publish charts
        if: steps.list-changed.outputs.changed == 'true'
        env:
          PERSONAL_TOKEN: "${{ secrets.PERSONAL_TOKEN }}"
        run: |
          ./scripts/publish.sh

      - name: Test helm repo listing (e2e)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm repo add "${GITHUB_JOB}" "https://${{ secrets.PERSONAL_TOKEN }}@raw.githubusercontent.com/${{ env.GITHUB_REPO }}/${{ env.BRANCH }}/"
          helm repo update
          helm search repo "${GITHUB_JOB}" -l
