name: pr
on:
  pull_request:
jobs:
  helm-local:
    runs-on: ubuntu-latest
    strategy:
      # https://hub.docker.com/r/kindest/node/tags
      matrix:
        k8s:
          - v1.21.1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - uses: dorny/paths-filter@v2.2.1
        id: filter
        with:
          filters: |
            charts:
              - 'charts/**/Chart.yaml'
              - 'charts/**/*'

      - name: Set up chart-testing
        if: ${{ steps.filter.outputs.charts == 'true' }}
        uses: helm/chart-testing-action@v2.2.0

      - name: Start ${{ matrix.k8s }} KinD cluster
        if: ${{ steps.filter.outputs.charts == 'true' }}
        uses: helm/kind-action@v1.2.0
        with:
          config: .github/assets/kind.yml
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Run chart-testing (install)
        if: ${{ steps.filter.outputs.charts == 'true' }}
        run: |
          ct install --debug
